/* --# General style #-- */
html, body{
    margin: 0; padding: 0;
}

#slideshow{
    position: relative;

    width: 100%; height: 20em;
}

/* --# Sections style #-- */
#slideshow_sections_block{
    position: relative;

    width: 100%; height: 100%;

    overflow: hidden;
}
.slideshow_section{
    position: absolute;
    top: 0; left:0;

    box-sizing: border-box;

    width: 100%; height: 100%;

    padding: 2em;

    transform: scale(0.4);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    border: .11em transparent black; border-radius: 5%;

    transition: left 1.5s, transform 2s, opacity 2s, border-radius 2s, margin-left 1s;
}
.slideshow_section.active{
    transform: scale(1);
    z-index: 1;
    opacity: 1;
    border-radius: 0%;
}
.slideshow_section.stackL{
    left: -100%;
}
.slideshow_section.stackR{
    left: 100%;
}

/* --# Dots style #-- */
#slideshow_dots_block{
    /*
    display: block;
    width: fit-content;
    margin: 0 auto;
    */
    position: absolute;
    z-index: 1;

    bottom: 0;

    width: 100%;

    text-align: center;
}
.slideshow_dot_section{
    display: inline-block;
    width: .5em; height: .5em;

    margin: .15em;

    cursor: pointer;

    border: .11em solid black; border-radius: 50%;
}
.slideshow_dot_section:hover, .slideshow_dot_section.active{
    background-color: black;
}

/* --# Move icons style #-- */
.slideshow_move_block{
    position: absolute;
    z-index: 1;

    top: 0;

    width: 2em; height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.slideshow_move_block.disabled{
    pointer-events: none;
}
#slideshow_moveLeft_block{
    left: 0;
}
#slideshow_moveRight_block{
    right: 0;
}

.slideshow_move_icon {
    border: solid black;
    border-width: 0 .2em .2em 0;
    
    padding: .2em;
    width: .1em; height: .1em;
}
.slideshow_move_block.disabled .slideshow_move_icon{
    border: solid silver;
    border-width: 0 .2em .2em 0;
}
.slideshow_move_block:hover .slideshow_move_icon{
    width: .2em; height: .2em;
}

#slideshow_moveLeft_icon {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
#slideshow_moveRight_icon {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}